

body{
    background: #1CD8D2;
    background: -webkit-linear-gradient(to left, #1CD8D2 , #93EDC7);
    background: linear-gradient(to left, #1CD8D2 , #93EDC7);
}

.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

